

@import "reset.css";

@1: #222831;
@2: #393E46;
@3: #00ADB5;
@4: #EEEEEE;


html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: #000;
}


.wrapper{
    width: 1140px;
    margin: 0 auto;
}














 .one{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    height: 250px;
    background: @1;
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }
  .two{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    height: 250px;
    background: @3;
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }

  .three{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cacaca;
    height: 250px;
    background: @4;
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }


////////////////////////////////////////transform: scaleX(1);//////////////////////////////////////
  .menu__link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 15px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.menu__link:hover::after{
    transform: scaleX(1);
}
.menu__sub-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.menu__sub-link:hover::after{
    transform: scaleX(1);
}


 /////////////////////////////////transform: scaleX(1);///////////////////////////////////

 .inverted .menu__link::after{
    background-color: #000;
 }
 
 .inverted .menu__arrowfalse {
    border-top: 10px solid rgb(0, 0, 0);
 }
//////////////////////////////////////////header inverted/////////////////////////////////////////////



body .inverted {
    background-color: #fff;
    box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
    
  }
  .header.inverted .header__container .header__logo .logo__text {
    color: #000;
  }
  .header.inverted .header__container .menu__body .menu__list li .menu__link {
    color: #000;
  }


////////////////////////////////////////header inverted///////////////////////////////////////////////






.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: @1;
    .header__container{
        max-width: 1200px;
        margin: 0px auto;
        display: flex; 
        padding: 0px 30px;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
        .header__logo{
            .logo__text{
                font-size: 41px;
                position: relative;
                z-index: 8;
                color: white;
            }
            
            
            
            
            
        }
        .menu__body{
            .menu__list{
                li{
                    position: relative;
                    margin: 0px 0px 0px 60px;
                    display: flex;
                    align-items: center;
                    
                    .menu__link{
                        color: white; 
                        font-size: 18px;
                    }
                    .menu__sub-list{


                        &::before {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 4.5px 5px 4.5px;
                            border-color: transparent transparent @2 transparent;
                            position: absolute;
                            top: -5px;
                            left: 34px;
                        }
                        
                        
                         
                       
                        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: @2;
                        padding: 15px;
                        min-width: 187px;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        li{
                            margin: 0px 0px 24px 0px;
                            .menu__sub-link{
                                color: rgb(255, 255, 255);
                                padding-bottom: 10px;
                                }
                        }
                        li:last-child{
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
            }
        }
    }
}
body._pc .menu__list > li:hover .menu__sub-list{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._mobile .menu__list > li._active .menu__arrow{
    transform: rotate(-180deg);
}


.menu__arrowfalseblack{
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
    transition: transform 0.3s ease 0s;
}

.menu__arrowfalse{
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    transition: transform 0.3s ease 0s;
}
.menu__arrow{
    display: none;
   }
body._mobile .menu__arrow{
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    transition: transform 0.3s ease 0s;
}
body._mobile .menu__arrowfalse{
    display: none;
}
body._mobile .menu__list > li{
    display: flex;
    align-items: center;
}
body._mobile .menu__list > li._active .menu__sub-list{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

//////////////////////parallax section///////////////////////////////



    

 

  @media (max-aspect-ratio: 3/2) {
    .parallax .parallax__body .parallax__images .images-parallax__human { 
        background-position: 20% top; 
    }
  }



.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

._container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 160px;
}


.content{
    color: #fff;
    background-color: #0b1d26;
    position: relative;
    z-index: 66;
    &::before{
        pointer-events: none;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        transform: translate(0px, -100%);
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);

    }
    .content__container{
        .content__title{
            font-size: 35px;
            margin: 0px 0px 30px 0px;

        }
        .content__text{
            font-size: 16px;
            line-height: 150%;
            p{
                margin: 0px 0px 30px 0px; 
            }
        }
    }
}








  

/////////////////////////////////////////////////////////////footer start////////////////////////////////////////////////////////////

.footer{
    background:  @4;
}

.footer__container{
    max-width: 1140px;
    color: #939393;
    margin: 0 auto;
}



footer{
    margin-top: 150px;
    .footer__container{
        p{
            color: #737373;
        }
        .footer-heading{
            margin-bottom: 20px;
            font-size: 16px;
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            letter-spacing: .2rem;
        }
        padding-top: 50px;
        display: flex;
        .col{
            margin-top: 40px;
        }
        .Aboutus__col{
            width: 33.33333%;
        }
        .nav_col{
            width: 33.33333%;
            display: flex;
            .nav__section__one{
                width: 50%;
            }
            .nav__section__two{
                width: 50%;
            }
        }
        .Subscribe__col{
            width: 33.33333%;
        }
    }
    .copyright__section{
        padding-top: 50px;
        padding-bottom: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

.slide_box{
    .slide_box_div{
        width: 796px;
        z-index: 3;
        transform: translate3d(calc(0px), calc(0px), calc(0px)) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);
        opacity: 1;
        transition-duration: 0ms;
        border-radius: 0.75rem;
        border: 0 solid;
        border-color: blue;
        content: "";
    }
}
///////////////////parallax section//////////////////////////////
 






}






///////////////////////////////////////////////////////////footer end////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////swiper////////////////////////////////////////////////////////////////

@media only screen and (min-width: 1px) {
    .menu__list{
        display: flex;
        align-items: center;
        .menu__link{
            padding: 26px 0px;
        }
        .menu__sub-list{
            
            transform: translate(-159px, 45%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s ease 0s;
            pointer-events: none;
        }
    }


///////////////////////////////////////////////////swiper//////////////////////////////////////////////////////////////////////////////


    
///////////////////////////////////////////////////swiper//////////////////////////////////////////////////////////////////////////////














}







@media only screen and (max-width: 1000px){
   
    
    ._lock .header.inverted .header__container .header__logo .logo__text{
        color: #fff;
    }

    ._lock .inverted .menu__icon::before{
        background-color: #fff;
       }
       ._lock .inverted .menu__icon span{
        background-color: #fff;
       }
       ._lock .inverted .menu__icon::after{
        background-color: #fff;
       }

   
   
   .inverted .menu__icon::before{
    background-color: #000;
   }
   .inverted .menu__icon span{
    background-color: #000;
   }
   .inverted .menu__icon::after{
    background-color: #000;
   }




body .header .header__container .menu__body .menu__list li .menu__sub-list{
    position: relative;
    flex: 1 1 100%;
    align-items: flex-start;
    display: none;
}

body .header .header__container .menu__body .menu__list > li._active .menu__sub-list{   
    display: block;
}
    .menu__icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before{
        top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span{

        transform: scale(0) translate(0px, -50%);
  
      }
      .menu__icon._active::before{
          top:50%;
          transform: rotate(-45deg) translate(0px, -50%);
  
      }
      .menu__icon._active::after{
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
  
      }


.menu__body{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  @3;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: scroll; 
    left: -100%;
    &::before{
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        
        z-index: 2;
        }
    .menu__list{
        flex-direction: column;
        align-items: flex-start;
        li{
            flex-wrap: wrap;
        }
    }
}
.menu__body._active{
    left: 0;
}
body._lock{
    overflow: hidden;
}









/////////////////////////footer///////////////////////
.footer__container{
    flex-direction: column;
    align-items: center;
}

.nav_col{
align-items: center;
    flex-direction: column;
}
.nav__section__two{

    margin-top: 20px;
}
.col{
    
    align-items: center;
}


}




            
        
    






